<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="210px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
  nzTheme="dark">
    <div class="sidebar-logo" style="background: #333333">
      <img src="../../assets/coming-soon3.png" alt="logo">
        <h1>学生信息管理系统</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen='true' nzTitle="总体信息看板" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="dashboard"></i>
            <a routerLink="/home">学生信息看板</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="dashboard"></i>
            <a routerLink="/gpaedashboard">成绩信息看板</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen='true' nzTitle="学生信息表" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="form"></i>
            <a routerLink="/search">学生基本信息表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="form"></i>
            <a routerLink="/score_query">学生成绩表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="form"></i>
            <a routerLink="/gradedashboard">学生GPA表</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <nz-space [nzSize]="'small'">
          <nz-space-item>
            <nz-input-group  nzSearch [nzAddOnAfter]="suffixIconButton" style="vertical-align: middle; width:300px ">
              <input type="text" nz-input placeholder="在学生信息管理系统中搜索" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
          </nz-space-item>
          <nz-space-item>
            <nz-avatar nzIcon="user" style="color:#f56a00; background-color:#fde3cf;margin-left: 400px; height: 35px"></nz-avatar>
          </nz-space-item>
          <nz-space-item>
            <button nz-button nzType="default"><i nz-icon nzType="login"></i> 登录 </button>
          </nz-space-item>
          <nz-space-item>
            <button nz-button nzType="default" (click)="logout()"><i nz-icon nzType="logout"></i> 退出登录</button>
          </nz-space-item>
        </nz-space>
      </div>

    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <a routerLink="/home"> Home </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a routerLink="/search">查询学生信息</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item >
            {{student.name}}的成绩信息
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <p>平均学分绩点：{{GPA | number:'1.4-4'}}</p>
        <nz-table #nzTable [nzData]="DisplayData" nzPageSize="5" nzTableLayout="fixed" nzTitle="{{student.name}}的各科成绩"
                  style="text-align: center; font-size: large; font-weight: bold;border-width: 1px; border-style: solid ">
          <thead>
          <tr>
            <th nzCustomFilter>
              课程号
              <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th>课程名称
              <nz-filter-trigger [(nzVisible)]="visible2" [nzActive]="searchValue2.length > 0" [nzDropdownMenu]="menu2">
                <i nz-icon nzType="search"></i>
              </nz-filter-trigger>
            </th>
            <th>学分</th>
            <th [nzFilterMultiple]="column1.filterMultiple" [nzFilters]="column1.listOfFilter" [nzFilterFn]="column1.filterFn">{{column1.name}}</th>
            <th [(nzSortOrder)]="column2.sortOrder" [nzSortFn]="column2.sortFn">{{column2.name}}</th>
            <th>绩点</th>
          </tr>
          </thead>
          <tbody>
          <nz-spin  nzSimple *ngIf="loading" [nzSize]="'large'"></nz-spin>
          <tr *ngFor="let data of nzTable.data" >
            <td>{{ data.Courseid }}</td>
            <td>{{ data.coursename }} <i nz-icon nzType="eye" nzTheme="outline" routerLink="/courseinfo/{{data.Courseid}}" title="查看{{data.coursename}}的具体信息"></i></td>
            <td>{{ data.credit }}</td>
            <td >{{data.type }}</td>
            <td>{{data.score }}</td>
            <td>{{data.gradepoint | gradepoint}}</td>
          </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="搜索课程号" [(ngModel)]="searchValue" />
              <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                搜索
              </button>
              <button nz-button nzSize="small" (click)="reset()">重置</button>
            </div>
          </div>
        </nz-dropdown-menu>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input type="text" nz-input placeholder="搜索课程名称" [(ngModel)]="searchValue2" />
              <button nz-button nzSize="small" nzType="primary" (click)="search2()" class="search-button">
                搜索
              </button>
              <button nz-button nzSize="small" (click)="reset()">重置</button>
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
